* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*@font-face {
    font-family: 'holberton_school-icon';
    src:  url('fonts/holberton_school-icon.eot?sq4eq4');
    src:  url('fonts/holberton_school-icon.eot?sq4eq4#iefix') format('embedded-opentype'),
      url('fonts/holberton_school-icon.ttf?sq4eq4') format('truetype'),
      url('fonts/holberton_school-icon.woff?sq4eq4') format('woff'),
      url('fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}*/

:root {
    --footer-bg: #071629;
    --primary-color: #FF6565;
    --general-color: white;
    --header-font-size: 26px;
    --paragraph-font-size: 17px;
}

.hero-section {
    background-image: url("./images/headphones_hero_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

.header-section {
    width: 80%;
    margin: 0 auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 100%;
}

.nav-links li {
    list-style: none;
    font-size: 17px;
    color: white;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.nav-links li a:hover{
    color: var(--primary-color);
    text-decoration: none;
}

.hero-content-1 {
    text-align: center;
    color: var(--general-color);
    max-width: 1000px;
    position: absolute;
    top: 45%;
    left: 30%;
}

.hero-content-2 {
    text-align: center;
    color: var(--general-color);
    font-size: 20px;
    padding: 5px;
    max-width: 1000px;
    position: absolute;
    left: 18%;
    bottom: 15%;
}

button{
    background-color: var(--primary-color);
    border: none;
    text-align: center;
    color: var(--general-color);
    padding: 15px 30px;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 15px;
}

button:hover {
    opacity: 0.9;
}

.second-section {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--general-color);
}

.section-container-one {
    max-width: 640px;
    text-align: center;
    margin: 0 auto;
}

.section-container-two {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.container-box-items {
    width: 170px;
    text-align: center;
    padding: 4px;
    margin-top: 10px;
}
.section-container-one h2{
    font-size: 30px;
    padding: 8px;
}
.section-container-one p{
    font-size: 18px;
    padding: 20px 10px 30px 10px;
}
.container-box-items h3{
    padding-top: 5px;
    padding-bottom: 5px;
}
.container-box-items img{
    width: 105px;
    height: 76px;
    object-fit: contain;
    padding: 5px;
}

.our-result-section {
    width: 100%;
    height: 90vh;
    background-image: url("./images/headphones_hero_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-section-outer-div {
    width: 1000px;
    margin: 0 auto;
}

.result-section-inner-div1 {
    max-width: 700px;
    padding-top: 10px;
    margin: 0 auto;
    color: white;
}

.result-section-inner-div1 h2{
    text-align: center;
    font-size: var(--header-font-size);
    padding-bottom: 20px;
}

.result-section-inner-div1 p{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: var(--paragraph-font-size);
    font-weight: 400;
}

.result-section-inner-div2 {
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
}

.pentagon{
    position: relative;
    color: white;
}

.pentagon img{
    width: 170px;
    height: 170px;
    flex-shrink: 0;
    object-fit: contain;
}

.ratings{
    position: absolute;
    top: 50px;
    left: 28px;
}

.ratings #text-1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.ratings #text-2 {
    font-size: 15px;
    text-align: center;
}

